<div id="product_list">
  <h1>
    <% if @category %>
      <%= @category.name %>
    <% else %>
      All
    <% end %>
    Movies
  </h1>

<table>
  <% if @movies.count < 1 %>
  No movies found  
  <% else %>
    <%= render "movies/list" %>
	<% end %>
</table>

<br />

<!--
<%= link_to 'New Movie', new_movie_path %>
-->
</div>
