<% if notice %>
<p id="notice"><%= notice %></p>
<% end  %>
<h2>Checkout Details</h2>

<ul>
  <% @cart.cart_items.each do |item| %>
  
  <li><%= item.quantity %> &times; <%= item.movie.title %></li>
  
  <% end %>
</ul>

