<% if notice %>
<p id="notice"><%= notice %></p>
<% end  %>
<h2>Checkout Details</h2>

<table>
	
	<tr>
		<th>Qty</th>
		<th>Items</th>
	</tr>
  <% @cart.cart_items.each do |item| %>
  
  <tr>
  	<td><%= item.quantity %></td>
  	<td><%= item.movie.title %></td>
  </tr>
  
  <% end %>
  
</table>

<%= button_to 'Empty Cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
